<!-- <lib-button label="click "  type='submit' buttonStyle="Accueil"></lib-button>
<lib-button label="login" type= 'submit' buttonStyle="login"> </lib-button>
<lib-button label="Add" type='button' buttonStyle="add"></lib-button>
<lib-button label="cancel" type='button' buttonStyle="danger"></lib-button>
<lib-button label="back" type="button" buttonStyle="secondary"></lib-button>
<lib-button label="save" type="submit" buttonStyle="primary"></lib-button>
<lib-button label="next" type="button" buttonStyle="next"></lib-button>
<lib-button label="PDF" type="submit" buttonStyle="pdf"></lib-button>
<lib-button label="Excel" type="submit" buttonStyle="excel"></lib-button>
<lib-button label="CSV" type="submit" buttonStyle="csv"></lib-button>
<lib-button label="payer" type="submit" buttonStyle="payment"></lib-button> -->
<lib-input inputStyle="search" placeholder="search by reference"></lib-input>
<lib-input inputStyle="contact" ></lib-input>
<router-outlet></router-outlet>