<!-- <lib-button label="click "  type='submit' buttonStyle="Accueil"></lib-button>
<lib-button label="login" type= 'submit' buttonStyle="login"> </lib-button>
<lib-button label="Add" type='button' buttonStyle="add"></lib-button>
<lib-button label="cancel" type='button' buttonStyle="danger"></lib-button>
<lib-button label="back" type="button" buttonStyle="secondary"></lib-button>
<lib-button label="save" type="submit" buttonStyle="primary"></lib-button>
<lib-button label="next" type="button" buttonStyle="next"></lib-button>
<lib-button label="PDF" type="submit" buttonStyle="pdf"></lib-button>
<lib-button label="Excel" type="submit" buttonStyle="excel"></lib-button>
<lib-button label="CSV" type="submit" buttonStyle="csv"></lib-button>
<lib-button label="payer" type="submit" buttonStyle="payment"></lib-button> -->
<lib-input inputStyle="search" placeholder="search by reference"></lib-input>
<lib-input inputStyle="contact"></lib-input>
<lib-input inputStyle="contact" label="prénom"label="Name"></lib-input>
<lib-list></lib-list>
<lib-input inputStyle="textarea" label="Comments"></lib-input>
<lib-input inputStyle="firstname" placeholder="Enter your firstname" label="First Name"></lib-input>
<lib-input inputStyle="lastname" placeholder="Enter your lastname" label="Last Name"></lib-input>
<lib-input inputStyle="email" placeholder="Enter your email" label="Email"></lib-input>
<lib-input inputStyle="password" placeholder="Enter your password" label="Password"></lib-input>
<lib-input inputStyle="socialnumber" placeholder="Enter your social number" label="Social Number"></lib-input>
<lib-input inputStyle="address" placeholder="Enter your address" label="Address"></lib-input>
<lib-input inputStyle="phone" placeholder="Enter your phone number" label="Phone"></lib-input>
<lib-input inputStyle="mosque" placeholder="Enter your mosque name" label="Mosque"></lib-input>
<br>
<lib-input inputStyle="file"></lib-input>

<router-outlet></router-outlet>