<lib-button label="click "  type='submit' buttonStyle="Accueil"></lib-button>
<lib-button label="login" type= 'submit' buttonStyle="login"> </lib-button>
<lib-button label="Add" type='button' buttonStyle="add"></lib-button>
<lib-button label="cancel" type='button' buttonStyle="danger"></lib-button>
<lib-button label="back" type="button" buttonStyle="secondary"></lib-button>
<lib-button label="save" type="submit" buttonStyle="primary"></lib-button>
<lib-button label="next" type="button" buttonStyle="next"></lib-button>
<router-outlet></router-outlet>